<div class="row">
    <div class="col-md-12">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Student Add</li>
            </ol>
        </nav>
        <div class="border padding">
            <h3>Add Student</h3>
            <form>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="fname">First name</label>
                        <input type="text" name="fname" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="lname">Last name</label>
                        <input type="text" name="lname" class="form-control">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>